*{
    margin: 0%;
}
p,h1,h3,a{
    color: #fff;
}
#red{
    
    background-size: cover;
    height: auto;
    
}
.ligne{
    margin-left: 2cm;
    margin-right: 2cm;
    border-right: #BCBBBD solid 3px;
    border-left: #BCBBBD solid 3px ;
}
/* bare de navigation */
header{
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    padding-left: 2cm;
    border-bottom: #BCBBBD solid 4px;
}
ul{
    list-style: none;
    display: flex;
    padding-left: 15cm;
}
a{
    text-decoration-line: none;
}
/*a:hover{
    text-decoration-line: underline;
    font-weight: bold;
}*/

li{
    padding-left: 2cm;
    padding-right: 2cm;
}
/* generalite sur bruce */
#identité{
    text-align: center;
    justify-content: center;
    padding-top: 20%;
    font-size: 25px;
}
#bat{
    padding-top: 20px;
}  
.tblanc{
    margin-top:40px;
    margin-left: 20px;
    margin-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    color: #fff;
    background: linear-gradient(to right,rgba(255,255,255, .60),rgba(255,0,0, .40));
    padding-bottom: 20px;
    padding-top:20px
    
}
.tblanc:hover{
    opacity: 100%;
}
.tblanc:focus{
    opacity: 100%;
}
/* à partir du flèche vers le bas */
.black{
    background-color: black;
}
#fleche{
    padding-top: 100px;
    padding-bottom: 10px;
    text-align: center;
}
.titre{
    padding-left: 2cm;
    padding-top: 80px;
}
.Lpara{
    padding-left: 2cm;
    font-size: 20px;
    padding-top: 20px;
}
.side{
    text-align: right;
    justify-content: center;
    margin-right: -4.5%;
    margin-top: -400px;
    
}

#icon{
    padding-right: 3%;
}
.esplog{
    padding-top: 1%;
    padding-bottom: 1%;
}
/* les photos de batman */
.photo{
    padding-top: 120px;
    padding-bottom: 40px;
    padding-left: 1.5cm;
    padding-right: 1.5cm;
    display: flex;
    justify-content: space-around;
}
#es{
    padding-top: 4%;
    display: flex;
    justify-content: space-around;
}
#es2{
    height: 200px;
    width: 550px;
    display: flex;
    
}
.pass{
    padding-top: 5%;
}
#cp1{
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 10px;
    padding-left: 4%;
    padding-right: 4%;
}
#cp2{
    padding-left: 8px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: #19587d;
    font-size: 12px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#annonce{
    padding-top: 50px;
    padding-bottom: 80px;
    text-align: center;
}
/* formulaire à remplir */
#gris{
    background-color: grey
}
#contact{
    padding-top: 40px;
    padding-bottom: 40px;
    
}
#tete{
    text-align: center;
}
form{
    justify-content: right;
    padding-left: 190px;
    padding-top: 60px;
    padding-right: 190px;
}
input[type=text]{
    background-color:grey;
    border: grey;
    color: #fff;
    width: 750px;
}
::placeholder{
    color: #fff;
}
#choice{
    display: flex;
}
select{
    background-color:gray;
    color: #fff;
    margin-top: 1%;
    width: 700px;
}
.espace{
    padding-top: 30px;
}
/* style du popub box qui doit apparaitre àpres confirmation  */
.conteneur{
    background-color: rgb(58, 56, 56) ;
    width:600px ;
    height: 350px;
    align-content: center;
    padding-top: 4%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    margin-left: 200px;
    
    
}
.popupbox{
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    height: 300px;
    background: linear-gradient(70deg,grey,rgb(70, 85, 70));
    text-align: center;
    justify-content: center;
    border: rgb(58, 56, 56);
    border-radius: 20px;
    align-content: center;

}

#tribtn{
    padding-top: 40px;
    text-align: center; 
}
.btnb{
    color: #fff;
    background-color: grey;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
    margin-left: 30px;
    outline-color: aqua;
    outline-style: outset ;
}
.dbtn{
    margin-top: 5%;
    text-align: center;
}


#Gi1{
    padding-top: 120px;
    padding-left: 120px;
}
#citation,#Dpar{
    text-align: center;
}
#Gi2{
    text-align: right;
    padding-right: 120px;
    padding-bottom: 120px;
}
.fa{
    font-size: 12px;
    padding-top: 1%;
    color: #c4c4c4;
}
footer{
    padding-top: 20px;
    background-color: black;
    justify-content: center;
    text-align: center;
    display: flex;
}
 #foot2{
     padding-left: 1%;
     padding-top: 1%;
 }


